:root {
  --btn-color: #6ae8ec;
  --btn-hover: #395ce7;
  --btn-clear: #ff7373;
  --btn-clear-hover: #ff0000;
}

.App {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

input {
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
}

/* input[type='button'] {
  cursor: pointer;
} */

.enter-job {
  border: 1px solid #ccc;
  width: 390px;
  margin-bottom: 20px;
}

.add-job {
  border: none;
  font-weight: 700;
  float: right;
  width: 70px;
  background-color: var(--btn-color);
  cursor: pointer;
}

.add-job:hover {
  color: white;
  background-color: var(--btn-hover);
  transition: .3s;
}

.job {
  width: 100%;
  background-color: #ccc;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  /* cursor: default; */
}

.footer {
  width: 100%;
  overflow: auto;
  margin-top: 30px;
}

.footer p {
  float: left;
}

.clear-all {
  background-color: var(--btn-clear);
  float: right;
  font-weight: 700;
  cursor: pointer;
}

.clear-all:hover {
  color: white;
  background-color: var(--btn-clear-hover);
  transition: .3s;
}
